<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='finance.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Page2</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in augue ut ipsum rhoncus pretium a a quam. Etiam mattis arcu eget lobortis efficitur. Praesent mattis odio odio, ut ultrices ligula porttitor vitae. Curabitur posuere faucibus consectetur. Praesent volutpat nulla eu leo maximus, vel euismod orci aliquam. Fusce posuere eleifend pretium. Pellentesque arcu nunc, luctus in consectetur ultrices, auctor non enim. Vivamus sit amet est ante. Suspendisse purus urna, varius quis blandit sit amet, blandit vitae nibh. Vivamus tincidunt, dui at porta ullamcorper, felis massa laoreet ex, vel mollis diam nisl nec sapien. Vestibulum ut elementum erat. Etiam nibh lorem, semper vel porttitor non, laoreet eu felis. Etiam vestibulum odio neque, ut euismod metus faucibus et. Cras orci magna, scelerisque et quam eu, molestie euismod libero.</p>

<p>Nam non lectus tempus, feugiat tortor a, elementum odio. Mauris malesuada ex vulputate lacus suscipit, in malesuada ligula elementum. Nunc finibus vitae leo quis ullamcorper. Nulla a velit non nibh vulputate posuere id vel mauris. Suspendisse interdum sollicitudin consequat. Duis lobortis lacinia fringilla. Sed eu laoreet neque. Proin at accumsan sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed finibus, urna fermentum volutpat tempor, nibh orci sagittis mi, et tristique est erat vitae orci. Integer at molestie nisl. Ut accumsan ligula id mi pharetra interdum. Phasellus quis dui id lectus tincidunt posuere nec eget magna. Duis vehicula ex ut arcu dignissim porta. Donec ipsum turpis, gravida vitae iaculis at, elementum sed sem.</p>


</body>
