<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='finance.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Page1</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in augue ut ipsum rhoncus pretium a a quam. Etiam mattis arcu eget lobortis efficitur. Praesent mattis odio odio, ut ultrices ligula porttitor vitae. Curabitur posuere faucibus consectetur. Praesent volutpat nulla eu leo maximus, vel euismod orci aliquam. Fusce posuere eleifend pretium. Pellentesque arcu nunc, luctus in consectetur ultrices, auctor non enim. Vivamus sit amet est ante. Suspendisse purus urna, varius quis blandit sit amet, blandit vitae nibh. Vivamus tincidunt, dui at porta ullamcorper, felis massa laoreet ex, vel mollis diam nisl nec sapien. Vestibulum ut elementum erat. Etiam nibh lorem, semper vel porttitor non, laoreet eu felis. Etiam vestibulum odio neque, ut euismod metus faucibus et. Cras orci magna, scelerisque et quam eu, molestie euismod libero.</p>

<p>Nam non lectus tempus, feugiat tortor a, elementum odio. Mauris malesuada ex vulputate lacus suscipit, in malesuada ligula elementum. Nunc finibus vitae leo quis ullamcorper. Nulla a velit non nibh vulputate posuere id vel mauris. Suspendisse interdum sollicitudin consequat. Duis lobortis lacinia fringilla. Sed eu laoreet neque. Proin at accumsan sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed finibus, urna fermentum volutpat tempor, nibh orci sagittis mi, et tristique est erat vitae orci. Integer at molestie nisl. Ut accumsan ligula id mi pharetra interdum. Phasellus quis dui id lectus tincidunt posuere nec eget magna. Duis vehicula ex ut arcu dignissim porta. Donec ipsum turpis, gravida vitae iaculis at, elementum sed sem.</p>

<p>Vivamus consequat eros in odio vestibulum ultrices. Nam varius velit felis, vel egestas diam pretium sit amet. Phasellus luctus nibh dapibus arcu varius, a pulvinar neque blandit. Mauris lorem metus, dignissim eu feugiat at, congue at nisi. Donec eget ante sit amet erat semper vehicula. Nam in diam eu lectus vulputate viverra quis ut nulla. Mauris finibus mauris id libero posuere placerat. Sed a massa sodales, finibus dui sit amet, scelerisque ligula. Morbi vitae quam ac nisl mattis vulputate. Aenean sed iaculis massa. Nullam sit amet lacinia odio.</p>

<p>Etiam nulla risus, tincidunt sagittis orci ut, ultrices consequat nunc. Donec finibus leo elit, consectetur consectetur nulla pellentesque iaculis. Fusce efficitur lacus velit, non mollis nulla venenatis sed. Quisque eu neque quis magna sollicitudin tempus. Duis finibus gravida diam ac mattis. Donec vitae pharetra magna, nec cursus mi. Nullam consectetur leo ac dui sollicitudin, eget scelerisque metus elementum. Phasellus in dictum turpis. Curabitur libero libero, convallis eleifend nisi hendrerit, faucibus maximus tellus. Donec mattis ultricies diam eu malesuada. Nulla sem est, blandit eget vehicula eu, pellentesque non ligula. Aenean varius quis elit sit amet euismod. Aliquam condimentum lorem sit amet erat interdum malesuada.</p>

<p>Etiam nisl purus, vehicula in enim non, aliquet dictum ligula. Mauris feugiat feugiat felis eu consequat. Nulla efficitur auctor elit vitae aliquam. Aliquam erat volutpat. Fusce malesuada commodo ex eu convallis. Praesent ac facilisis diam, quis scelerisque tortor. Quisque metus felis, facilisis et tincidunt non, bibendum a dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque blandit cursus posuere. Quisque nec mi leo.</p>


</body>
